body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 12px;
	background: #eee;
}

h1 { font-size: 32px; }
h3 { font-size: 14px; }
h4 { font-size: 13px; }

p {
	margin: 1.5em 0;
}

p.center {
	text-align: center;
}

input, select, label, table {
	font-family: Helvetica, Arial, sans-serif;
}

label {
	font-weight: bold;
}

input.like-text {
	border: none;
	background: none;
}

input.bold {
	font-weight: bold;
}

span.data {
	font-family: 'Courier New', 'Lucida Console';
	font-size: 95%;
	font-weight: bold;
	background: #eee;
	padding: 2px 4px;
}

table.container {
	width: 100%;
	margin: 0.5em 0;
	padding: 5px;
	background: #fff;
}

table.container thead {
	background: #333;
}

table.container thead td {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 5px 8px;
}

table.container thead td.toggle {
	text-align: right;
}

table.container tbody {
	padding: 10px;
}

table.container tbody td {
	padding: 8px 10px;
}

table.container tbody.data td {
	padding: 8px 12px;
	background: #f6f6f6;
	border-top: 1px solid #fff;
}

table.container tbody.data.small td {
	padding: 5px 12px;
}

table.container tbody td.text {
	padding: 10px 15px;
}

table.container tbody td.label {
	font-weight: bold;
	white-space: nowrap;
	width: 20px;
}

table.container tbody td.label, table.container tbody td.value {
	font-size: 14px;
}

table.container tbody tr.data_head td {
	font-size: 14px;
	font-weight: bold;
	background: #ccc;
	padding: 8px 12px;
}

.input, .button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 3px 5px;
}

#header {
	padding: 10px 20px;
	color: #FFF;
	background: #CC0000;
	border-top: 5px solid #660000;
	border-bottom: 1px solid #AA0000;
}

#header h1 {
	text-shadow: -1px -1px 1px #660000;
}

#content {
	padding: 10px 0;
}

#content #data {
	min-height: 350px;
	background: url(bg.png) center center no-repeat;
}

#intro p {
	font-size: 14px;
	line-height: 1.5;
}

#single_phi_value, #multi_phi_value_min, #multi_phi_value_max {
	width: 25px;
}

#open_graph {
	font-size: 13px;
}

#flame_temp_graph_container {
	width: 800px;
	height: 400px;
}

#fork-me {
	width: 149px;
	height: 149px;
	position: absolute;
	top: 0;
	right: 0;
}